<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplementation</title>
    <link rel="shortcut icon" href="../static/images/favicon_io/favicon.ico" type="image/x-icon">
    style 
        include ../static/supplementation/supplementation.css
</head>
<body>

    <div class="buttons">
        <button class="btn" id="learnBtn" onclick="showLearn()">Learn About Nutrition and Supplementation</button>
        <button class="btn" id="wheyBtn" onclick="showProtein()">Protein Supplements</button>
        <button class="btn" id="fatBtn" onclick="showFat()">Fat Burners</button>
        <button class="btn" id="othersBtn" onclick="showOthers()">Essentials and Others</button>
    </div>

    <div class="toggle">
        <div id="main">
            h1= "Welcome to our Nutrition and Supplementation Page"
        </div>
        <div id="learn">
            h1= "Importance of Proper Nutrition"
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam pariatur architecto aut nostrum, nisi nam. Tempore vel sed illo! Quisquam unde incidunt eius consequatur illum impedit dicta qui dolores et. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis est vel nobis consectetur sed, saepe quaerat sapiente eos fugiat laborum hic ab aliquid quis ducimus neque, inventore ea, eveniet magnam optio. Harum possimus voluptas minus omnis tenetur, consequuntur ratione unde tempore ab labore. Qui cupiditate quod sint dolorum hic ea!

            h1= "How to Begin?"
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dignissimos itaque est autem iure ipsa saepe dolor corporis, nisi fuga ad vero vel tenetur possimus error obcaecati incidunt rerum sequi deleniti laboriosam, totam ut quasi. Impedit sed quaerat sit aut praesentium modi incidunt veniam sequi, tenetur culpa temporibus illo sapiente inventore ab placeat deleniti nisi consequuntur quos asperiores repellendus voluptatibus ullam soluta. Saepe fugiat nisi ratione facilis, blanditiis debitis eaque. Veniam, nihil quas laboriosam impedit aspernatur sunt totam voluptatum doloribus. Illum reiciendis dolorem nesciunt qui corrupti praesentium pariatur esse temporibus quas inventore, nam hic veritatis minima assumenda. Dolor, quaerat possimus?

            h1= "About Supplementation"
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda labore eum officia, deleniti, possimus esse iste veritatis reiciendis quos dolorem magni expedita voluptatum recusandae, sapiente quod quaerat. Vitae dolorem culpa minima commodi aliquid eum aliquam modi optio et unde illum, error molestias obcaecati facere impedit hic quaerat nemo magnam quam? Ex labore vitae quos veritatis voluptas quo at dolorem autem, voluptatum, et nulla pariatur! Modi corporis quidem repellendus, aliquam autem porro earum consequatur soluta eos, sed iure accusantium asperiores iste?

            h1= "Is It Necessary?"
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, placeat voluptas quos debitis quidem cum? Assumenda obcaecati exercitationem ad itaque, sequi maxime atque commodi distinctio delectus quisquam quaerat molestias quae. Eligendi aperiam accusantium temporibus! Optio repudiandae quo odit dignissimos deserunt dolore animi aut? Reprehenderit harum saepe cupiditate enim! Excepturi, aliquid?
        </div>
        <div id="protein">
            h1= "Our Suggestions"

            <div class="pCard">
                <img src="../static/images/Supplements/ON_GoldStandardWhey.jpg" alt="">
                h2= "ON Gold Stadard 100% Whey Protein Isolate"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti doloribus nihil aut perferendis tenetur odit, culpa alias, laboriosam repellat temporibus! Optio, deserunt et incidunt nisi debitis obcaecati explicabo corrupti!
                <a href="https://www.amazon.in/Optimum-Nutrition-Standard-Protein-Powder/dp/B000QSNYGI/ref=sr_1_1_sspa?dchild=1&keywords=whey&qid=1621665130&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzSTBJSU1BVE5UMDAzJmVuY3J5cHRlZElkPUEwMzgyNTI0Q01TRDVNWjNWN0hQJmVuY3J5cHRlZEFkSWQ9QTEwMTAyOTYyQUdYVElPVE1ZRzlZJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">Click Here to Buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/MB_GoldWhey.jpg" alt="">
                h2= "MB Whey Gold 100% Whey Protein: Chocolate"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/dp/B071KWBBXZ?pd_rd_i=B071KWBBXZ&pd_rd_w=lgN8c&pf_rd_p=a75ba368-11d2-4ce4-98f8-b19ed03dc54e&pd_rd_wg=5KeXn&pf_rd_r=FG0EA15NWTNSHQ9DHTMH&pd_rd_r=512fd258-af99-4308-85f6-4cb8ec958dc5" target="_blank">Click Here to buy</a>
            </div>

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non a provident excepturi pariatur dolorum beatae enim ab, ratione quos nostrum officia cum incidunt quam voluptatum? Porro in libero ipsum.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptates sit magni nobis minima. Inventore velit veritatis modi quasi. Ducimus ipsam id ex nulla facere incidunt reprehenderit veritatis quia ut fugit obcaecati vero in iusto non temporibus, perspiciatis eum eligendi cumque provident.
            p Temporibus quam veniam porro facilis numquam exercitationem doloribus quas repellat eum dignissimos inventore provident consequuntur cumque itaque, similique autem obcaecati aliquam sequi deserunt alias eveniet praesentium magni dolor? Hic corporis dolor beatae temporibus soluta natus accusantium libero deserunt. Nisi laborum molestiae hic nesciunt quo omnis nihil assumenda minima cumque deserunt libero voluptate doloremque error maiores velit modi iste fugiat, molestias earum. 
            p Consequatur sunt eligendi nulla quos nemo aut molestias accusamus rem error reiciendis vero quod libero consequuntur temporibus, rerum aliquam, adipisci earum dolorum porro minus iste? Minima laudantium, unde suscipit nisi fuga necessitatibus inventore modi nemo ad. Dolore magni sit, eaque qui optio asperiores et pariatur officia, nemo accusamus hic. A cupiditate cum dolor vitae qui temporibus iure aliquid maxime nulla libero, autem officiis nisi, perspiciatis deserunt veritatis expedita. Harum voluptatum quasi incidunt libero laboriosam cupiditate perferendis dicta eum. Ipsam numquam accusantium doloribus esse id nulla tempora enim error doloremque cupiditate beatae commodi cumque, sint, mollitia modi! Consequuntur?
        </div>
        <div id="fat">
            h1= "Our Suggestions"

            <div class="pCard">
                <img src="../static/images/Supplements/RSP.jpg" alt="">
                h2= "RSP Quadralean (Stimulant Free)"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti doloribus nihil aut perferendis tenetur odit, culpa alias, laboriosam repellat temporibus! Optio, deserunt et incidunt nisi debitis obcaecati explicabo corrupti!
                <a href="https://www.amazon.in/Rsp-Nutrition-Quadralean-Capsules-Count/dp/B00HFF23RQ/ref=sr_1_1?crid=3HMIY3OSNNYU&dchild=1&keywords=rsp+quadralean&qid=1621687557&sprefix=rsp+quadra%2Caps%2C402&sr=8-1" target="_blank">Click Here to Buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/CLA.jpg" alt="">
                h2= "MB CLA (Conjugated Linleic Acid)"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/Muscleblaze-Cla-1000-90-Softgels/dp/B077T4DB26/ref=sr_1_1?dchild=1&keywords=cla&qid=1621687484&sr=8-1" target="_blank">Click Here to buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/LCarnitine.jpg" alt="">
                h2= "L-Carnitine"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/Muscleblaze-Liquid-L-Carnitine-Lemon-Lime/dp/B0848H8QPM/ref=sr_1_3_sspa?crid=PRNM6QEPESCZ&dchild=1&keywords=l+cartinine&qid=1621687422&sprefix=l+ca%2Caps%2C388&sr=8-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzQ1E1TUtBOEVXNlpUJmVuY3J5cHRlZElkPUEwMjU1MDI2MjUwT09JTVdVVzBVSiZlbmNyeXB0ZWRBZElkPUEwNzI3OTEzMUE2QzVQOTNNUEdBVCZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" target="_blank">Click Here to buy</a>
            </div>

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non a provident excepturi pariatur dolorum beatae enim ab, ratione quos nostrum officia cum incidunt quam voluptatum? Porro in libero ipsum.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptates sit magni nobis minima. Inventore velit veritatis modi quasi. Ducimus ipsam id ex nulla facere incidunt reprehenderit veritatis quia ut fugit obcaecati vero in iusto non temporibus, perspiciatis eum eligendi cumque provident.
            p Temporibus quam veniam porro facilis numquam exercitationem doloribus quas repellat eum dignissimos inventore provident consequuntur cumque itaque, similique autem obcaecati aliquam sequi deserunt alias eveniet praesentium magni dolor? Hic corporis dolor beatae temporibus soluta natus accusantium libero deserunt. Nisi laborum molestiae hic nesciunt quo omnis nihil assumenda minima cumque deserunt libero voluptate doloremque error maiores velit modi iste fugiat, molestias earum. 
            p Consequatur sunt eligendi nulla quos nemo aut molestias accusamus rem error reiciendis vero quod libero consequuntur temporibus, rerum aliquam, adipisci earum dolorum porro minus iste? Minima laudantium, unde suscipit nisi fuga necessitatibus inventore modi nemo ad. Dolore magni sit, eaque qui optio asperiores et pariatur officia, nemo accusamus hic. A cupiditate cum dolor vitae qui temporibus iure aliquid maxime nulla libero, autem officiis nisi, perspiciatis deserunt veritatis expedita. Harum voluptatum quasi incidunt libero laboriosam cupiditate perferendis dicta eum. Ipsam numquam accusantium doloribus esse id nulla tempora enim error doloremque cupiditate beatae commodi cumque, sint, mollitia modi! Consequuntur?
        </div>
        <div id="other">
            h1= "Our Suggestions"

            <div class="pCard">
                <img src="../static/images/Supplements/fishOil.jpg" alt="">
                h2= "Fish Oil (Omega-3 Fatty Acids)"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, deleniti doloribus nihil aut perferendis tenetur odit, culpa alias, laboriosam repellat temporibus! Optio, deserunt et incidunt nisi debitis obcaecati explicabo corrupti!
                <a href="https://www.amazon.in/GNC-Triple-Strength-Omega-3-Supplement/dp/B07MBZK89S/ref=sr_1_4_sspa?dchild=1&keywords=fish+oil&qid=1621688189&sr=8-4-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzTTdXUElWMlYzVUxUJmVuY3J5cHRlZElkPUEwMjUzNTU1QVFTTU5RWlJNQ0xCJmVuY3J5cHRlZEFkSWQ9QTA1ODcyMjUzTVVQTUdWVjVPVUg0JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">Click Here to Buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/MultiVit.jpg" alt="">
                h2= "MB MultiVitamins"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/MuscleBlaze-VITE-Multivitamin-60-Tablets/dp/B00KDFRUGY/ref=sr_1_3_sspa?crid=1H8VB210ICDF1&dchild=1&keywords=multivitamin+with+zinc&qid=1621688341&s=hpc&sprefix=multivit%2Chpc%2C378&sr=1-3-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSUFHQVVGMjEzSDBDJmVuY3J5cHRlZElkPUEwODc1MzQ1MjRYVTdIWkc2VDMzOCZlbmNyeXB0ZWRBZElkPUEwNjQ1MjU0MVNVME9EMzZGUUlJSSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" target="_blank">Click Here to buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/creatine.jpg" alt="">
                h2= "MB Creatine Monohydrate"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/MuscleBlaze-Creatine-Monohydrate-Powder-250/dp/B00LL2EBOC/ref=sr_1_4_sspa?dchild=1&keywords=creatine&qid=1621688241&sr=8-4-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExN043M0owVVZKWkg1JmVuY3J5cHRlZElkPUEwNjI0Nzg0UThPOU85VENEUEFPJmVuY3J5cHRlZEFkSWQ9QTAwMjIwNzkyNTRUMkpNQkIzQkFVJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">Click Here to buy</a>
            </div>
            <div class="pCard">
                <img src="../static/images/Supplements/BCAA.jpg" alt="">
                h2= "MB BCAAs (Branched-Chain Amino Acids)"
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia vel doloremque distinctio iusto ipsum eveniet incidunt fugit, quasi facere deleniti fugiat impedit iste nostrum voluptatum dolorem, quos itaque autem!
                <a href="https://www.amazon.in/dp/B072M2VL1F?pd_rd_i=B072M2VL1F&pd_rd_w=13mnp&pf_rd_p=a75ba368-11d2-4ce4-98f8-b19ed03dc54e&pd_rd_wg=SeDoX&pf_rd_r=JSNRWETWA6GXBQMBZY31&pd_rd_r=b4891941-e5d7-47c2-a12e-c77ec6d293b9" target="_blank">Click Here to buy</a>
            </div>

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non a provident excepturi pariatur dolorum beatae enim ab, ratione quos nostrum officia cum incidunt quam voluptatum? Porro in libero ipsum.
            p Consequatur sunt eligendi nulla quos nemo aut molestias accusamus rem error reiciendis vero quod libero consequuntur temporibus, rerum aliquam, adipisci earum dolorum porro minus iste? Minima laudantium, unde suscipit nisi fuga necessitatibus inventore modi nemo ad. Dolore magni sit, eaque qui optio asperiores et pariatur officia, nemo accusamus hic. A cupiditate cum dolor vitae qui temporibus iure aliquid maxime nulla libero, autem officiis nisi, perspiciatis deserunt veritatis expedita. Harum voluptatum quasi incidunt libero laboriosam cupiditate perferendis dicta eum. Ipsam numquam accusantium doloribus esse id nulla tempora enim error doloremque cupiditate beatae commodi cumque, sint, mollitia modi! Consequuntur?
        </div>
    </div>

    <nav>
        <div class="image">
            <img src="../static/images/logo.png" alt="">
            <p>XYZ Fitness</p>
        </div>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/supplementation" style = "color:rgb(105, 102, 102)">Supplementation</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>
</body>
script
    include ../static/supplementation/supplementation.js
</html>